Repository opendr-eu/opendr, pull requests merged in 2021-08, with the labels that each got.

#117 Update list of Cyberbotics codeowners
  CODEOWNERS
Labels: test sources

#112 Use pip -r to install python dependencies
  bin/setup.bash
  dependencies/dependencies.ini
  dependencies/install.sh
  dependencies/parse_dependencies.py
  src/opendr/perception/face_recognition/dependencies.ini
  src/opendr/perception/object_tracking_2d/fair_mot/dependencies.ini
  src/opendr/perception/pose_estimation/dependencies.ini
  tests/sources/tools/perception/object_tracking_2d/__init__.py
Labels: bug, enhancement, test sources, test tools

#113 Add C/C++ test using cppcheck
  .github/workflows/tests_sources.yml
  tests/test_cppcheck.py
Labels: test sources, test tools

#71 Gated Recurrent Unit for Heart Anomaly Detection
  docs/reference/gated-recurrent-unit-learner.md
  src/opendr/perception/heart_anomaly_detection/dependencies.ini
  src/opendr/perception/heart_anomaly_detection/gated_recurrent_unit/README.md
  src/opendr/perception/heart_anomaly_detection/gated_recurrent_unit/algorithm/__init__.py
  src/opendr/perception/heart_anomaly_detection/gated_recurrent_unit/algorithm/data.py
  src/opendr/perception/heart_anomaly_detection/gated_recurrent_unit/algorithm/models.py
  src/opendr/perception/heart_anomaly_detection/gated_recurrent_unit/algorithm/trainers.py
  src/opendr/perception/heart_anomaly_detection/gated_recurrent_unit/gated_recurrent_unit_learner.py
  tests/sources/tools/perception/heart_anomaly_detection/__init__.py
  tests/sources/tools/perception/heart_anomaly_detection/gated_recurrent_unit/__init__.py
  tests/sources/tools/perception/heart_anomaly_detection/gated_recurrent_unit/test_gated_recurrent_unit_learner.py
Labels: test sources, test tools
