Repository opendr-eu/opendr, pull requests merged in 2021-09, with the labels that each got.

#77 Rgbd Hand Gesture Recognition
  docs/reference/rgbd_hand_gesture_learner.md
  src/opendr/perception/multimodal_human_centric/dependencies.ini
  src/opendr/perception/multimodal_human_centric/rgbd_hand_gesture_learner/README.md
  src/opendr/perception/multimodal_human_centric/rgbd_hand_gesture_learner/algorithm/__init__.py
  src/opendr/perception/multimodal_human_centric/rgbd_hand_gesture_learner/algorithm/architectures/__init__.py
  src/opendr/perception/multimodal_human_centric/rgbd_hand_gesture_learner/algorithm/architectures/densenet.py
  src/opendr/perception/multimodal_human_centric/rgbd_hand_gesture_learner/algorithm/architectures/mnasnet.py
  src/opendr/perception/multimodal_human_centric/rgbd_hand_gesture_learner/algorithm/architectures/mobilenet.py
  src/opendr/perception/multimodal_human_centric/rgbd_hand_gesture_learner/algorithm/architectures/resnet.py
  src/opendr/perception/multimodal_human_centric/rgbd_hand_gesture_learner/algorithm/architectures/vgg.py
  src/opendr/perception/multimodal_human_centric/rgbd_hand_gesture_learner/algorithm/data.py
  src/opendr/perception/multimodal_human_centric/rgbd_hand_gesture_learner/rgbd_hand_gesture_learner.py
  tests/sources/tools/perception/multimodal_human_centric/__init__.py
  tests/sources/tools/perception/multimodal_human_centric/rgbd_hand_gesture_learner/__init__.py
  tests/sources/tools/perception/multimodal_human_centric/rgbd_hand_gesture_learner/test_rgbd_hand_gesture_learner.py
  tests/test_license.py
Labels: test sources, test tools

#121 Fix years in OpenDR copyright
  src/opendr/perception/compressive_learning/multilinear_compressive_learning/algorithm/__init__.py
  src/opendr/perception/compressive_learning/multilinear_compressive_learning/algorithm/backbones/__init__.py
  src/opendr/perception/compressive_learning/multilinear_compressive_learning/algorithm/backbones/cifar_allcnn.py
  src/opendr/perception/compressive_learning/multilinear_compressive_learning/algorithm/backbones/imagenet_densenet.py
  src/opendr/perception/compressive_learning/multilinear_compressive_learning/algorithm/backbones/imagenet_resnet.py
  src/opendr/perception/compressive_learning/multilinear_compressive_learning/algorithm/backbones/imagenet_vgg.py
  src/opendr/perception/compressive_learning/multilinear_compressive_learning/algorithm/backbones/model_utils.py
  src/opendr/perception/compressive_learning/multilinear_compressive_learning/algorithm/data.py
  src/opendr/perception/compressive_learning/multilinear_compressive_learning/algorithm/learner.py
  src/opendr/perception/face_recognition/face_recognition_learner.py
  src/opendr/perception/heart_anomaly_detection/gated_recurrent_unit/algorithm/__init__.py
  src/opendr/perception/heart_anomaly_detection/gated_recurrent_unit/algorithm/data.py
  src/opendr/perception/heart_anomaly_detection/gated_recurrent_unit/algorithm/models.py
  src/opendr/perception/heart_anomaly_detection/gated_recurrent_unit/algorithm/trainers.py
  src/opendr/perception/heart_anomaly_detection/gated_recurrent_unit/gated_recurrent_unit_learner.py
  src/opendr/perception/pose_estimation/lightweight_open_pose/utilities.py
  src/opendr/perception/speech_recognition/edgespeechnets/edgespeechnets_learner.py
  src/opendr/perception/speech_recognition/matchboxnet/matchboxnet_learner.py
  tests/sources/tools/perception/speech_recognition/edgespeechnets/test_edgespeechnets.py
  tests/sources/tools/perception/speech_recognition/matchboxnet/test_matchboxnet.py
Labels: test sources

#125 Split API test into sub-tests
  .github/workflows/tests_sources.yml
Labels: test sources, test tools

#87 Speech command recognition - Quadratic Self-ONN
  docs/reference/quadratic-selfonn.md
  src/opendr/perception/speech_recognition/quadraticselfonn/README.md
  src/opendr/perception/speech_recognition/quadraticselfonn/__init__.py
  src/opendr/perception/speech_recognition/quadraticselfonn/algorithm/__init__.py
  src/opendr/perception/speech_recognition/quadraticselfonn/algorithm/audioutils.py
  src/opendr/perception/speech_recognition/quadraticselfonn/algorithm/model.py
  src/opendr/perception/speech_recognition/quadraticselfonn/dependencies.ini
  src/opendr/perception/speech_recognition/quadraticselfonn/quadraticselfonn_learner.py
  tests/sources/tools/perception/speech_recognition/quadraticselfonn/__init__.py
  tests/sources/tools/perception/speech_recognition/quadraticselfonn/test_quadraticselfonn.py
Labels: enhancement, test sources, test tools

#74 Update documentation index
  docs/reference/index.md
  docs/reference/inference-and-training-api.md
Labels: test sources

#92 human-data-generation-project
  projects/simulation/human_dataset_generation/README.md
  projects/simulation/human_dataset_generation/background.py
  projects/simulation/human_dataset_generation/create_background_images.py
  projects/simulation/human_dataset_generation/create_dataset.py
  projects/simulation/human_dataset_generation/data_generator.py
  projects/simulation/human_dataset_generation/dependencies.ini
  projects/simulation/human_dataset_generation/download_models.sh
  projects/simulation/human_dataset_generation/reformat_cityscapes.py
Labels: test sources, test tools

#122 Device-based installation
  .github/workflows/tests_sources.yml
  Makefile
  bin/setup.bash
  dependencies/dependencies.ini
  dependencies/parse_dependencies.py
Labels: enhancement, test sources, test tools

#126 Fix gpu support in Video-based Human Activity Recognition
  projects/perception/activity_recognition/demos/online_recognition/demo.py
  src/opendr/perception/activity_recognition/cox3d/cox3d_learner.py
  src/opendr/perception/activity_recognition/x3d/x3d_learner.py
Labels: test sources, test tools

#128 Urgent fix of Human Activity Recognition tests
  src/opendr/perception/activity_recognition/x3d/x3d_learner.py
Labels: test sources, test tools

#50 Skeleton based action recognition
  .github/workflows/tests_sources.yml
  __init__.py
  docs/reference/engine-data.md
  docs/reference/index.md
  docs/reference/skeleton_based_action_recognition.md
  src/opendr/engine/data.py
  src/opendr/perception/skeleton_based_action_recognition/README.md
  src/opendr/perception/skeleton_based_action_recognition/algorithm/datasets/__init__.py
  src/opendr/perception/skeleton_based_action_recognition/algorithm/datasets/feeder.py
  src/opendr/perception/skeleton_based_action_recognition/algorithm/datasets/kinetics_feeder.py
  src/opendr/perception/skeleton_based_action_recognition/algorithm/datasets/kinetics_gendata.py
  src/opendr/perception/skeleton_based_action_recognition/algorithm/datasets/ntu_gendata.py
  src/opendr/perception/skeleton_based_action_recognition/algorithm/datasets/ntu_samples_with_missing_skeletons.txt
  src/opendr/perception/skeleton_based_action_recognition/algorithm/graphs/__init__.py
  src/opendr/perception/skeleton_based_action_recognition/algorithm/graphs/kinetics.py
  src/opendr/perception/skeleton_based_action_recognition/algorithm/graphs/nturgbd.py
  src/opendr/perception/skeleton_based_action_recognition/algorithm/models/__init__.py
  src/opendr/perception/skeleton_based_action_recognition/algorithm/models/pstgcn.py
  src/opendr/perception/skeleton_based_action_recognition/algorithm/models/stbln.py
  src/opendr/perception/skeleton_based_action_recognition/algorithm/models/stgcn.py
  src/opendr/perception/skeleton_based_action_recognition/algorithm/models/tagcn.py
  src/opendr/perception/skeleton_based_action_recognition/dependencies.ini
  src/opendr/perception/skeleton_based_action_recognition/progressive_spatio_temporal_gcn_learner.py
  src/opendr/perception/skeleton_based_action_recognition/spatio_temporal_gcn_learner.py
  tests/sources/tools/engine/test_target.py
  tests/sources/tools/perception/skeleton_based_action_recognition/__init__.py
  tests/sources/tools/perception/skeleton_based_action_recognition/test_pstgcn.py
  tests/sources/tools/perception/skeleton_based_action_recognition/test_stbln.py
  tests/sources/tools/perception/skeleton_based_action_recognition/test_stgcn.py
  tests/sources/tools/perception/skeleton_based_action_recognition/test_tagcn.py
  tests/sources/tools/utils/test_io.py
  tests/test_license.py
Labels: test sources, test tools

#107 Object detection 2d tud detr
  docs/reference/detr.md
  docs/reference/engine-target.md
  projects/opendr_ws/src/perception/CMakeLists.txt
  projects/opendr_ws/src/perception/scripts/detr.py
  projects/opendr_ws/src/ros_bridge/src/opendr_bridge/bridge.py
  src/opendr/engine/target.py
  src/opendr/perception/object_detection_2d/detr/README.md
  src/opendr/perception/object_detection_2d/detr/algorithm/configs/model_config.yaml
  src/opendr/perception/object_detection_2d/detr/algorithm/datasets/__init__.py
  src/opendr/perception/object_detection_2d/detr/algorithm/datasets/coco.py
  src/opendr/perception/object_detection_2d/detr/algorithm/datasets/coco_eval.py
  src/opendr/perception/object_detection_2d/detr/algorithm/datasets/coco_panoptic.py
  src/opendr/perception/object_detection_2d/detr/algorithm/datasets/panoptic_eval.py
  src/opendr/perception/object_detection_2d/detr/algorithm/datasets/transforms.py
  src/opendr/perception/object_detection_2d/detr/algorithm/engine.py
  src/opendr/perception/object_detection_2d/detr/algorithm/models/__init__.py
  src/opendr/perception/object_detection_2d/detr/algorithm/models/backbone.py
  src/opendr/perception/object_detection_2d/detr/algorithm/models/detr.py
  src/opendr/perception/object_detection_2d/detr/algorithm/models/matcher.py
  src/opendr/perception/object_detection_2d/detr/algorithm/models/position_encoding.py
  src/opendr/perception/object_detection_2d/detr/algorithm/models/segmentation.py
  src/opendr/perception/object_detection_2d/detr/algorithm/models/transformer.py
  src/opendr/perception/object_detection_2d/detr/algorithm/util/__init__.py
  src/opendr/perception/object_detection_2d/detr/algorithm/util/box_ops.py
  src/opendr/perception/object_detection_2d/detr/algorithm/util/detect.py
  src/opendr/perception/object_detection_2d/detr/algorithm/util/draw.py
  src/opendr/perception/object_detection_2d/detr/algorithm/util/misc.py
  src/opendr/perception/object_detection_2d/detr/dependencies.ini
  src/opendr/perception/object_detection_2d/detr/detr_learner.py
  tests/sources/tools/perception/object_detection_2d/__init__.py
  tests/sources/tools/perception/object_detection_2d/detr/__init__.py
  tests/sources/tools/perception/object_detection_2d/detr/test_detr.py
Labels: test sources, test tools

#89 C API for Face Recognition
  .github/workflows/tests_sources.yml
  Makefile
  dependencies/install.sh
  dependencies/install_onnx.sh
  docs/reference/c-api.md
  docs/reference/c-data-h.md
  docs/reference/c-face-recognition-h.md
  docs/reference/c-opendr-utils-h.md
  docs/reference/c-target-h.md
  docs/reference/index.md
  include/data.h
  include/face_recognition.h
  include/opendr_utils.h
  include/target.h
  projects/c_api/Makefile
  projects/c_api/README.md
  projects/c_api/samples/face_recognition/face_recognition_demo.c
  src/c_api/Makefile
  src/c_api/README.md
  src/c_api/dependencies.ini
  src/c_api/face_recognition.cpp
  src/c_api/opendr_utils.cpp
  src/opendr/perception/face_recognition/dependencies.ini
  tests/Makefile
  tests/sources/c_api/test_face_recognition.c
  tests/sources/c_api/test_opendr_utils.c
  tests/test_cppcheck.py
Labels: test sources, test tools

#100 Semantic segmentation
  .github/workflows/tests_sources.yml
  docs/reference/engine-target.md
  docs/reference/index.md
  docs/reference/semantic-segmentation.md
  src/opendr/engine/target.py
  src/opendr/perception/semantic_segmentation/bisenet/CamVid.py
  src/opendr/perception/semantic_segmentation/bisenet/algorithm/README.md
  src/opendr/perception/semantic_segmentation/bisenet/algorithm/model/build_BiSeNet.py
  src/opendr/perception/semantic_segmentation/bisenet/algorithm/model/build_contextpath.py
  src/opendr/perception/semantic_segmentation/bisenet/algorithm/utils.py
  src/opendr/perception/semantic_segmentation/bisenet/bisenet_learner.py
  src/opendr/perception/semantic_segmentation/dependencies.ini
  tests/sources/tools/perception/semantic_segmentation/__init__.py
  tests/sources/tools/perception/semantic_segmentation/bisenet/__init__.py
  tests/sources/tools/perception/semantic_segmentation/bisenet/test_semantic_segmentation_bisenet.py
  tests/test_license.py
Labels: enhancement, test sources, test tools
