Repository opendr-eu/opendr, pull requests merged in 2022-01, with the labels that each got.

#192 Add automatic nightly sanity check
  .github/workflows/tests_suite.yml
  .github/workflows/tests_suite_develop.yml
  README.md
Labels: enhancement, test sources, test tools

#193 Fix nightly check
  .github/workflows/tests_suite.yml
  .github/workflows/tests_suite_develop.yml
  tests/sources/tools/perception/facial_expression_recognition/__init__.py
  tests/sources/tools/perception/facial_expression_recognition/landmark_based_facial_expression_recognition/__init__.py
Labels: enhancement, test sources, test tools

#198 upgrade scikit-learn to 0.22
  CHANGELOG.md
  README.md
  src/opendr/perception/heart_anomaly_detection/dependencies.ini
Labels: bug, test sources, test tools, test dependencies, test install

#196 bug in skeleton-based action recognition demo is fixed
  projects/perception/skeleton_based_action_recognition/demos/demo.py
Labels: test sources, test tools

#200 Automatic test of pip and docker
  .github/workflows/test_packages.yml
  .github/workflows/tests_suite.yml
  CHANGELOG.md
  MANIFEST.in
  README.md
  bin/build_wheel.sh
  bin/install.sh
  docs/reference/installation.md
  setup.py
Labels: test sources, test packages

#202 Add automatic publishing of wheel and docker
  .github/workflows/publisher.yml
  .github/workflows/test_packages.yml
  src/opendr/_version.py
Labels: enhancement, test sources
