Repository opendr-eu/opendr, pull requests merged in 2022-11, with the labels that each got.

#288 Ros2 synthetic facial generation
  projects/opendr_ws_2/src/data_generation/data_generation/__init__.py
  projects/opendr_ws_2/src/data_generation/data_generation/synthetic_facial_generation.py
  projects/opendr_ws_2/src/data_generation/package.xml
  projects/opendr_ws_2/src/data_generation/resource/data_generation
  projects/opendr_ws_2/src/data_generation/setup.cfg
  projects/opendr_ws_2/src/data_generation/setup.py
  projects/opendr_ws_2/src/data_generation/test/test_copyright.py
  projects/opendr_ws_2/src/data_generation/test/test_flake8.py
  projects/opendr_ws_2/src/data_generation/test/test_pep257.py
  projects/python/simulation/synthetic_multi_view_facial_image_generation/SyntheticDataGeneration.py
  projects/python/simulation/synthetic_multi_view_facial_image_generation/algorithm/Rotate_and_Render/models/networks/__init__.py
  projects/python/simulation/synthetic_multi_view_facial_image_generation/algorithm/Rotate_and_Render/options/base_options.py
  projects/python/simulation/synthetic_multi_view_facial_image_generation/algorithm/Rotate_and_Render/test_multipose.py
  tests/test_license.py
Labels: enhancement, test sources, test tools

#351 fix: eagerx version demos
  projects/control/eagerx/dependencies.ini
Labels: test sources

#320 Ros1 fixes for 3D Detection and 2D/3D tracking
  projects/opendr_ws/README.md
  projects/opendr_ws/src/perception/README.md
  projects/opendr_ws/src/perception/scripts/image_dataset.py
  projects/opendr_ws/src/perception/scripts/object_detection_3d_voxel.py
  projects/opendr_ws/src/perception/scripts/object_tracking_2d_deep_sort.py
  projects/opendr_ws/src/perception/scripts/object_tracking_2d_fair_mot.py
  projects/opendr_ws/src/perception/scripts/object_tracking_3d_ab3dmot.py
  projects/opendr_ws/src/perception/scripts/point_cloud_dataset.py
  src/opendr/engine/target.py
  src/opendr/perception/object_tracking_2d/deep_sort/algorithm/deep_sort_tracker.py
  src/opendr/perception/object_tracking_2d/deep_sort/object_tracking_2d_deep_sort_learner.py
  tests/test_license.py
  tests/test_pep8.py
Labels: test sources, test tools

#357 ROS1 perception nodes updates
  projects/opendr_ws/src/perception/scripts/audiovisual_emotion_recognition.py
  projects/opendr_ws/src/perception/scripts/face_detection_retinaface.py
  projects/opendr_ws/src/perception/scripts/face_recognition.py
  projects/opendr_ws/src/perception/scripts/fall_detection.py
  projects/opendr_ws/src/perception/scripts/heart_anomaly_detection.py
  projects/opendr_ws/src/perception/scripts/image_dataset.py
  projects/opendr_ws/src/perception/scripts/landmark_based_facial_expression_recognition.py
  projects/opendr_ws/src/perception/scripts/object_detection_2d_centernet.py
  projects/opendr_ws/src/perception/scripts/object_detection_2d_detr.py
  projects/opendr_ws/src/perception/scripts/object_detection_2d_gem.py
  projects/opendr_ws/src/perception/scripts/object_detection_2d_nanodet.py
  projects/opendr_ws/src/perception/scripts/object_detection_2d_ssd.py
  projects/opendr_ws/src/perception/scripts/object_detection_2d_yolov3.py
  projects/opendr_ws/src/perception/scripts/object_detection_3d_voxel.py
  projects/opendr_ws/src/perception/scripts/object_tracking_2d_deep_sort.py
  projects/opendr_ws/src/perception/scripts/object_tracking_2d_fair_mot.py
  projects/opendr_ws/src/perception/scripts/object_tracking_3d_ab3dmot.py
  projects/opendr_ws/src/perception/scripts/panoptic_segmentation_efficient_ps.py
  projects/opendr_ws/src/perception/scripts/point_cloud_dataset.py
  projects/opendr_ws/src/perception/scripts/pose_estimation.py
  projects/opendr_ws/src/perception/scripts/rgbd_hand_gesture_recognition.py
  projects/opendr_ws/src/perception/scripts/semantic_segmentation_bisenet.py
  projects/opendr_ws/src/perception/scripts/skeleton_based_action_recognition.py
  projects/opendr_ws/src/perception/scripts/speech_command_recognition.py
  projects/opendr_ws/src/perception/scripts/video_activity_recognition.py
Labels: test sources

#360 Object detection 2d yolov5
  .github/workflows/test_packages.yml
  .github/workflows/tests_suite.yml
  .github/workflows/tests_suite_develop.yml
  CHANGELOG.md
  docs/reference/index.md
  docs/reference/object-detection-2d-yolov5.md
  projects/opendr_ws/src/perception/CMakeLists.txt
  projects/opendr_ws/src/perception/README.md
  projects/opendr_ws/src/perception/scripts/object_detection_2d_yolov5.py
  projects/python/perception/object_detection_2d/yolov5/README.md
  projects/python/perception/object_detection_2d/yolov5/inference_demo.py
  projects/python/perception/object_detection_2d/yolov5/inference_tutorial.ipynb
  projects/python/perception/object_detection_2d/yolov5/webcam_demo.py
  src/opendr/perception/object_detection_2d/__init__.py
  src/opendr/perception/object_detection_2d/datasets/transforms.py
  src/opendr/perception/object_detection_2d/dependencies.ini
  src/opendr/perception/object_detection_2d/yolov5/README.md
  src/opendr/perception/object_detection_2d/yolov5/__init__.py
  src/opendr/perception/object_detection_2d/yolov5/yolov5_learner.py
  tests/sources/tools/perception/object_detection_2d/yolov5/__init__.py
  tests/sources/tools/perception/object_detection_2d/yolov5/test_yolov5.py
Labels: enhancement, test sources, test tools
