Repository opendr-eu/opendr, pull requests merged in 2022-04, with the labels that each got.

#231 Benchmark au
  projects/perception/activity_recognition/benchmark/README.md
  projects/perception/activity_recognition/benchmark/benchmark_cox3d.py
  projects/perception/activity_recognition/benchmark/benchmark_x3d.py
  projects/perception/activity_recognition/benchmark/install_on_server.sh
  projects/perception/activity_recognition/benchmark/requirements.txt
  projects/perception/facial_expression_recognition/landmark_based_facial_expression_recognition/benchmark/benchmark_pstbln.py
  projects/perception/object_detection_3d/benchmark/.gitignore
  projects/perception/object_detection_3d/benchmark/benchmark_voxel.py
  projects/perception/object_detection_3d/benchmark/configs/pointpillars_car_xyres_16.proto
  projects/perception/object_detection_3d/benchmark/configs/pointpillars_ped_cycle_xyres_16.proto
  projects/perception/object_detection_3d/benchmark/configs/tanet_car_xyres_16.proto
  projects/perception/object_detection_3d/benchmark/configs/tanet_car_xyres_16_near_0.24.proto
  projects/perception/object_detection_3d/benchmark/configs/tanet_car_xyres_16_near_0.24_2.proto
  projects/perception/object_detection_3d/benchmark/configs/tanet_car_xyres_16_near_0.33.proto
  projects/perception/object_detection_3d/benchmark/configs/tanet_car_xyres_16_near_0.5.proto
  projects/perception/object_detection_3d/benchmark/configs/tanet_ped_cycle_xyres_16.proto
  projects/perception/object_detection_3d/benchmark/media/000000.bin
  projects/perception/object_tracking_2d/benchmark/.gitignore
  projects/perception/object_tracking_2d/benchmark/benchmark_deep_sort.py
  projects/perception/object_tracking_2d/benchmark/benchmark_fair_mot.py
  projects/perception/object_tracking_2d/benchmark/media/000001.jpg
  projects/perception/object_tracking_3d/benchmark/.gitignore
  projects/perception/object_tracking_3d/benchmark/benchmark_ab3dmot.py
  projects/perception/object_tracking_3d/benchmark/media/0000.txt
  projects/perception/skeleton_based_action_recognition/benchmark/benchmark_stgcn.py
  src/opendr/engine/target.py
  src/opendr/perception/activity_recognition/datasets/kinetics.py
  src/opendr/perception/facial_expression_recognition/landmark_based_facial_expression_recognition/progressive_spatio_temporal_bln_learner.py
  src/opendr/perception/object_detection_3d/voxel_object_detection_3d/second_detector/builder/dataset_builder.py
  src/opendr/perception/object_detection_3d/voxel_object_detection_3d/second_detector/builder/preprocess_builder.py
  src/opendr/perception/object_detection_3d/voxel_object_detection_3d/second_detector/run.py
  src/opendr/perception/object_tracking_2d/deep_sort/algorithm/deep_sort_tracker.py
  src/opendr/perception/object_tracking_2d/deep_sort/object_tracking_2d_deep_sort_learner.py
  src/opendr/perception/object_tracking_2d/fair_mot/object_tracking_2d_fair_mot_learner.py
  src/opendr/perception/object_tracking_3d/ab3dmot/object_tracking_3d_ab3dmot_learner.py
Labels: test sources, test tools

#249 Clang Fixes
  .github/workflows/tests_suite.yml
Labels: test sources

#250 Fix clang on macOS
  .github/workflows/tests_suite.yml
  .github/workflows/tests_suite_develop.yml
Labels: test sources

#246 Integration of heart anomaly detection self-attention neural bag of features
  docs/reference/attention-neural-bag-of-feature-learner.md
  src/opendr/perception/heart_anomaly_detection/attention_neural_bag_of_feature/README.md
  src/opendr/perception/heart_anomaly_detection/attention_neural_bag_of_feature/algorithm/models.py
  src/opendr/perception/heart_anomaly_detection/attention_neural_bag_of_feature/algorithm/samodels.py
  src/opendr/perception/heart_anomaly_detection/attention_neural_bag_of_feature/attention_neural_bag_of_feature_learner.py
  tests/sources/tools/perception/heart_anomaly_detection/attention_neural_bag_of_feature/test_attention_neural_bag_of_feature_learner.py
Labels: test sources, test tools

#239 Documentation for performance evaluation
  docs/reference/activity-recognition.md
  docs/reference/eagerx.md
  docs/reference/efficient-ps.md
  docs/reference/face-detection-2d-retinaface.md
  docs/reference/face-recognition.md
  docs/reference/gem.md
  docs/reference/human-model-generation.md
  docs/reference/hyperparameter_tuner.md
  docs/reference/landmark-based-facial-expression-recognition.md
  docs/reference/lightweight-open-pose.md
  docs/reference/mobile-manipulation.md
  docs/reference/object-detection-2d-centernet.md
  docs/reference/object-detection-2d-ssd.md
  docs/reference/object-detection-2d-yolov3.md
  docs/reference/object-tracking-2d-deep-sort.md
  docs/reference/object-tracking-2d-fair-mot.md
  docs/reference/object-tracking-3d-ab3dmot.md
  docs/reference/semantic-segmentation.md
  docs/reference/single-demonstration-grasping.md
  docs/reference/skeleton-based-action-recognition.md
  docs/reference/synthetic_facial_image_generator.md
  docs/reference/voxel-object-detection-3d.md
Labels: test sources

#252 Make `test release` docker target the specific branch when the label is run manually
  .github/workflows/publisher.yml
  .github/workflows/tests_suite.yml
  .github/workflows/tests_suite_develop.yml
  Dockerfile
  Dockerfile-cuda
Labels: enhancement, test sources, test release

#237 Fall detection
  .github/workflows/tests_suite.yml
  CHANGELOG.md
  docs/reference/fall-detection.md
  docs/reference/index.md
  packages.txt
  projects/opendr_ws/README.md
  projects/opendr_ws/src/perception/CMakeLists.txt
  projects/opendr_ws/src/perception/README.md
  projects/opendr_ws/src/perception/scripts/fall_detection.py
  projects/perception/fall_detection/README.md
  projects/perception/fall_detection/demos/eval_demo.py
  projects/perception/fall_detection/demos/inference_demo.py
  projects/perception/fall_detection/demos/inference_tutorial.ipynb
  projects/perception/fall_detection/demos/webcam_demo.py
  src/opendr/engine/target.py
  src/opendr/perception/fall_detection/__init__.py
  src/opendr/perception/fall_detection/dependencies.ini
  src/opendr/perception/fall_detection/fall_detector_learner.py
  tests/sources/tools/perception/fall_detection/__init__.py
  tests/sources/tools/perception/fall_detection/test_fall_detector.py
Labels: enhancement, test sources, test tools, test release
