Repository opendr-eu/opendr, pull requests merged in 2022-02, with the labels that each got.

#208 Automatic local build/install/test of wheel from a branch
  .github/workflows/tests_suite.yml
Labels: test sources, test release

#219 Face Recognition ROS and bug fixes
  docs/reference/face-recognition.md
  projects/opendr_ws/src/perception/README.md
  projects/opendr_ws/src/perception/scripts/face_recognition.py
  projects/perception/face_recognition/demos/benchmarking_demo.py
  projects/perception/face_recognition/demos/inference_demo.py
  projects/perception/face_recognition/demos/inference_tutorial.ipynb
  src/opendr/perception/face_recognition/algorithm/backbone/model_mobilenet.py
  src/opendr/perception/face_recognition/algorithm/util/utils.py
  src/opendr/perception/face_recognition/face_recognition_learner.py
Labels: bug, documentation, test sources, test tools

#221 Fix evaluation and data pre-processing in EfficientPS
  CHANGELOG.md
  projects/perception/panoptic_segmentation/efficient_ps/example_usage.py
  src/c_api/face_recognition.cpp
  src/opendr/perception/panoptic_segmentation/README.md
  src/opendr/perception/panoptic_segmentation/datasets/cityscapes.py
  src/opendr/perception/panoptic_segmentation/datasets/kitti.py
  src/opendr/perception/panoptic_segmentation/efficient_ps/configs/singlegpu_cityscapes.py
  src/opendr/perception/panoptic_segmentation/efficient_ps/configs/singlegpu_kitti.py
  src/opendr/perception/panoptic_segmentation/efficient_ps/dependencies.ini
  src/opendr/perception/panoptic_segmentation/efficient_ps/efficient_ps_learner.py
  tests/sources/tools/perception/panoptic_segmentation/efficient_ps/test_efficient_ps.py
Labels: bug, test sources, test tools

#224 XML dataset addition + mxnet-cu102 fix
  bin/install.sh
  docs/reference/object-detection-2d-centernet.md
  docs/reference/object-detection-2d-datasets.md
  src/opendr/perception/object_detection_2d/datasets/__init__.py
  src/opendr/perception/object_detection_2d/datasets/detection_dataset.py
  src/opendr/perception/object_detection_2d/datasets/xmldataset.py
  src/opendr/perception/object_detection_2d/ssd/ssd_learner.py
Labels: enhancement, test sources, test release

#226 Gem Mobilenet-v2 pretrained backbone
  docs/reference/gem.md
  tests/sources/tools/perception/object_detection_2d/gem/test_gem.py
Labels: enhancement, test sources, test tools

#227 Fix failing nightly test on master
  .github/workflows/tests_suite.yml
  .github/workflows/tests_suite_develop.yml
Labels: enhancement, test sources

#230 Notebooks for mxnet detectors
  projects/perception/object_detection_2d/centernet/inference_tutorial.ipynb
  projects/perception/object_detection_2d/retinaface/inference_tutorial.ipynb
  projects/perception/object_detection_2d/ssd/inference_tutorial.ipynb
  projects/perception/object_detection_2d/yolov3/inference_tutorial.ipynb
Labels: enhancement, test sources, test tools

#233 Fix master workflow related to artifacts
  .github/workflows/tests_suite.yml
  .github/workflows/tests_suite_develop.yml
Labels: enhancement, test sources
