Repository opendr-eu/opendr, pull requests merged in 2023-02, with the labels that each got.

#406 Update README.md
  projects/python/simulation/SMPL+D_human_models/README.md
Labels: documentation, test sources, test tools

#405 facial expression recognition demo update (FPS added)
  projects/python/perception/facial_expression_recognition/image_based_facial_emotion_estimation/inference_demo.py
Labels: test sources

#402 Binary High Resolution Learner
  .github/workflows/tests_suite.yml
  .github/workflows/tests_suite_develop.yml
  CHANGELOG.md
  docs/reference/binary_high_resolution.md
  packages.txt
  projects/opendr_ws/README.md
  projects/opendr_ws/src/opendr_perception/CMakeLists.txt
  projects/opendr_ws/src/opendr_perception/README.md
  projects/opendr_ws/src/opendr_perception/scripts/binary_high_resolution_node.py
  projects/opendr_ws_2/README.md
  projects/opendr_ws_2/src/opendr_perception/README.md
  projects/opendr_ws_2/src/opendr_perception/opendr_perception/binary_high_resolution_node.py
  projects/opendr_ws_2/src/opendr_perception/opendr_perception/semantic_segmentation_bisenet_node.py
  projects/opendr_ws_2/src/opendr_perception/setup.py
  projects/python/perception/binary_high_resolution/README.md
  projects/python/perception/binary_high_resolution/inference_demo.py
  projects/python/perception/binary_high_resolution/onnx_inference_demo.py
  projects/python/perception/binary_high_resolution/train_eval_demo.py
  src/opendr/perception/binary_high_resolution/README.md
  src/opendr/perception/binary_high_resolution/__init__.py
  src/opendr/perception/binary_high_resolution/binary_high_resolution_learner.py
  src/opendr/perception/binary_high_resolution/dependencies.ini
  src/opendr/perception/binary_high_resolution/utils/__init__.py
  src/opendr/perception/binary_high_resolution/utils/architectures.py
  src/opendr/perception/binary_high_resolution/utils/high_resolution_loader.py
  src/opendr/perception/binary_high_resolution/utils/utils.py
  tests/sources/tools/perception/binary_high_resolution/__init__.py
  tests/sources/tools/perception/binary_high_resolution/test_binary_high_resolution.py
Labels: test sources, test tools, test release

#410 fix(efficientLPS): Fix the dependency conflict of geffnet installation
  bin/install_nvidia.sh
  dependencies/parse_dependencies.py
Labels: test sources, test tools

#363 Multi object search
  .github/workflows/test_packages.yml
  .github/workflows/tests_suite.yml
  .github/workflows/tests_suite_develop.yml
  CHANGELOG.md
  README.md
  docs/reference/multi_object_search.md
  projects/control/multi_object_search/README.md
  projects/control/multi_object_search/best_defaults.yaml
  projects/control/multi_object_search/multi_object_search_demo.py
  projects/python/simulation/SMPL+D_human_models/README.md
  src/opendr/control/multi_object_search/README.md
  src/opendr/control/multi_object_search/__init__.py
  src/opendr/control/multi_object_search/algorithm/SB3/buffer.py
  src/opendr/control/multi_object_search/algorithm/SB3/encoder.py
  src/opendr/control/multi_object_search/algorithm/SB3/policy.py
  src/opendr/control/multi_object_search/algorithm/SB3/ppo.py
  src/opendr/control/multi_object_search/algorithm/SB3/save_model_callback.py
  src/opendr/control/multi_object_search/algorithm/SB3/torch_layers.py
  src/opendr/control/multi_object_search/algorithm/SB3/type_aliases.py
  src/opendr/control/multi_object_search/algorithm/SB3/vec_env.py
  src/opendr/control/multi_object_search/algorithm/evaluation.py
  src/opendr/control/multi_object_search/algorithm/igibson/env_functions.py
  src/opendr/control/multi_object_search/algorithm/igibson/fetch.py
  src/opendr/control/multi_object_search/algorithm/igibson/locobot.py
  src/opendr/control/multi_object_search/algorithm/igibson/mapping_module.py
  src/opendr/control/multi_object_search/algorithm/igibson/multi_object_env.py
  src/opendr/control/multi_object_search/algorithm/igibson/multi_object_task.py
  src/opendr/control/multi_object_search/algorithm/igibson/object_goal_rew.py
  src/opendr/control/multi_object_search/algorithm/igibson/object_goal_ter.py
  src/opendr/control/multi_object_search/algorithm/igibson/potential_reward_clip.py
  src/opendr/control/multi_object_search/algorithm/igibson/sim.py
  src/opendr/control/multi_object_search/algorithm/igibson/ycb_object_id.py
  src/opendr/control/multi_object_search/config.yaml
  src/opendr/control/multi_object_search/dependencies.ini
  src/opendr/control/multi_object_search/multi_object_search_learner.py
  src/opendr/control/multi_object_search/requirements_installations.py
  tests/sources/tools/control/multi_object_search/__init__.py
  tests/sources/tools/control/multi_object_search/test_config.yaml
  tests/sources/tools/control/multi_object_search/test_multi_object_search.py
Labels: test sources, test tools

#409 High Resolution Pose Estimation webcam demo
  docs/reference/high-resolution-pose-estimation.md
  projects/python/perception/pose_estimation/high_resolution_pose_estimation/README.md
  projects/python/perception/pose_estimation/high_resolution_pose_estimation/demos/inference_demo.py
  projects/python/perception/pose_estimation/high_resolution_pose_estimation/demos/webcam_demo.py
  src/opendr/perception/pose_estimation/hr_pose_estimation/high_resolution_learner.py
Labels: test sources

#411 Merge `master` into `develop`
  .github/workflows/tests_suite.yml
  .github/workflows/tests_suite_develop.yml
  projects/python/perception/facial_expression_recognition/image_based_facial_emotion_estimation/inference_demo.py
Labels: test sources

#397 Fall Detection - alternative infer input
  docs/reference/fall-detection.md
  projects/opendr_ws/src/opendr_perception/scripts/fall_detection_node.py
  projects/opendr_ws_2/src/opendr_perception/opendr_perception/fall_detection_node.py
  projects/python/perception/fall_detection/demos/inference_demo.py
  projects/python/perception/fall_detection/demos/inference_tutorial.ipynb
  projects/python/perception/fall_detection/demos/webcam_demo.py
  src/opendr/perception/fall_detection/fall_detector_learner.py
  tests/sources/tools/perception/fall_detection/test_fall_detector.py
  tests/sources/tools/perception/pose_estimation/high_resolution_pose_estimation/test_high_resolution_pose_estimation.py
Labels: enhancement, test sources

#413 Prepare v2.1.0
  .github/workflows/test_packages.yml
  CHANGELOG.md
  docs/reference/index.md
  docs/reference/installation.md
Labels: test sources
