Repository opendr-eu/opendr, pull requests merged in 2023-08, with the labels that each got.

#454 Added unzip installation as base ubuntu dependency and tool tests fixes
  .github/workflows/tests_suite.yml
  bin/install.sh
  src/opendr/control/single_demo_grasp/dependencies.ini
  src/opendr/perception/face_recognition/dependencies.ini
  src/opendr/perception/object_detection_2d/dependencies.ini
Labels: test sources, test tools, dependencies

#455 Refactoring: pythonic joins in test_clang_format.py/test_cppcheck.py
  tests/test_clang_format.py
  tests/test_cppcheck.py
Labels: test sources

#450 Merge master into develop
  .github/workflows/publisher.yml
  .github/workflows/test_packages.yml
  .github/workflows/tests_suite.yml
  .github/workflows/tests_suite_develop.yml
  CHANGELOG.md
  bin/install.sh
  docs/reference/index.md
  docs/reference/installation.md
  projects/opendr_ws/src/opendr_bridge/package.xml
  projects/opendr_ws/src/opendr_data_generation/package.xml
  projects/opendr_ws/src/opendr_perception/package.xml
  projects/opendr_ws/src/opendr_planning/package.xml
  projects/opendr_ws/src/opendr_simulation/package.xml
  projects/opendr_ws_2/src/opendr_bridge/package.xml
  projects/opendr_ws_2/src/opendr_bridge/setup.py
  projects/opendr_ws_2/src/opendr_data_generation/package.xml
  projects/opendr_ws_2/src/opendr_data_generation/setup.py
  projects/opendr_ws_2/src/opendr_interface/package.xml
  projects/opendr_ws_2/src/opendr_perception/package.xml
  projects/opendr_ws_2/src/opendr_perception/setup.py
  projects/opendr_ws_2/src/opendr_planning/package.xml
  projects/opendr_ws_2/src/opendr_planning/setup.py
  projects/opendr_ws_2/src/opendr_simulation/package.xml
  projects/opendr_ws_2/src/opendr_simulation/setup.py
  projects/python/perception/slam/full_map_posterior_gmapping/src/fmp_slam_eval/package.xml
  projects/python/perception/slam/full_map_posterior_gmapping/src/map_simulator/package.xml
  src/opendr/_version.py
  src/opendr/control/single_demo_grasp/dependencies.ini
  src/opendr/perception/face_recognition/dependencies.ini
  src/opendr/perception/object_detection_2d/dependencies.ini
  tests/sources/tools/perception/object_tracking_2d/fair_mot/test_object_tracking_2d_fair_mot.py
  tests/test_clang_format.py
  tests/test_cppcheck.py
Labels: test sources, test tools, synchronization

#446 Fix publisher.yml workflow
  .github/workflows/publisher.yml
  Dockerfile-cuda
Labels: bug, test sources

#451 Robotti human detection simulation demo
  projects/python/perception/robotti_human_detection/Makefile
  projects/python/perception/robotti_human_detection/README.md
  projects/python/perception/robotti_human_detection/webots/controllers/bvh_animation/.gitignore
  projects/python/perception/robotti_human_detection/webots/controllers/bvh_animation/Makefile
  projects/python/perception/robotti_human_detection/webots/controllers/bvh_animation/bvh_animation.c
  projects/python/perception/robotti_human_detection/webots/controllers/human_detection/human_detection.py
  projects/python/perception/robotti_human_detection/webots/controllers/human_detection/human_detection_env.py
  projects/python/perception/robotti_human_detection/webots/libraries/bvh_util/Makefile
  projects/python/perception/robotti_human_detection/webots/libraries/bvh_util/include/webots/bvh_util.h
  projects/python/perception/robotti_human_detection/webots/libraries/bvh_util/src/bvh_util.c
  projects/python/perception/robotti_human_detection/webots/libraries/bvh_util/src/quaternion.c
  projects/python/perception/robotti_human_detection/webots/libraries/bvh_util/src/quaternion.h
  projects/python/perception/robotti_human_detection/webots/libraries/bvh_util/src/vector3.c
  projects/python/perception/robotti_human_detection/webots/libraries/bvh_util/src/vector3.h
  projects/python/perception/robotti_human_detection/webots/motions/walk.bvh
  projects/python/perception/robotti_human_detection/webots/plugins/robot_windows/robotti_window/Makefile
  projects/python/perception/robotti_human_detection/webots/plugins/robot_windows/robotti_window/robotti_window.c
  projects/python/perception/robotti_human_detection/webots/plugins/robot_windows/robotti_window/robotti_window.css
  projects/python/perception/robotti_human_detection/webots/plugins/robot_windows/robotti_window/robotti_window.html
  projects/python/perception/robotti_human_detection/webots/plugins/robot_windows/robotti_window/robotti_window.js
  projects/python/perception/robotti_human_detection/webots/protos/AgriculturalWarehouse.proto
  projects/python/perception/robotti_human_detection/webots/protos/Robotti.proto
  projects/python/perception/robotti_human_detection/webots/protos/RobottiCamera.proto
  projects/python/perception/robotti_human_detection/webots/protos/RobottiModule.proto
  projects/python/perception/robotti_human_detection/webots/protos/RobottiModuleWheel.proto
  projects/python/perception/robotti_human_detection/webots/protos/icons/AgriculturalWarehouse.png
  projects/python/perception/robotti_human_detection/webots/protos/icons/Robotti.png
  projects/python/perception/robotti_human_detection/webots/protos/meshes/DGPSs.dae
  projects/python/perception/robotti_human_detection/webots/protos/meshes/VLP16.dae
  projects/python/perception/robotti_human_detection/webots/protos/meshes/boom.dae
  projects/python/perception/robotti_human_detection/webots/protos/meshes/camera.dae
  projects/python/perception/robotti_human_detection/webots/protos/meshes/camera_mount.dae
  projects/python/perception/robotti_human_detection/webots/protos/meshes/front_bumper.dae
  projects/python/perception/robotti_human_detection/webots/protos/meshes/gnss_mount.dae
  projects/python/perception/robotti_human_detection/webots/protos/meshes/hitch.dae
  projects/python/perception/robotti_human_detection/webots/protos/meshes/implement_mount.dae
  projects/python/perception/robotti_human_detection/webots/protos/meshes/lidar_mount.dae
  projects/python/perception/robotti_human_detection/webots/protos/meshes/module.dae
  projects/python/perception/robotti_human_detection/webots/protos/meshes/module_bumper.dae
  projects/python/perception/robotti_human_detection/webots/protos/meshes/plant_camera_mount.dae
  projects/python/perception/robotti_human_detection/webots/protos/meshes/plant_camera_rack.dae
  projects/python/perception/robotti_human_detection/webots/protos/meshes/wheel.dae
  projects/python/perception/robotti_human_detection/webots/protos/meshes/wheel_motor.dae
  projects/python/perception/robotti_human_detection/webots/protos/meshes/wheel_mount.dae
  projects/python/perception/robotti_human_detection/webots/worlds/.gitignore
  projects/python/perception/robotti_human_detection/webots/worlds/.robotti_human_detection.wbproj
  projects/python/perception/robotti_human_detection/webots/worlds/robotti_human_detection.wbt
Labels: test sources

#433 Speech Transcription with Whisper and Vosk
  .github/workflows/test_packages.yml
  .github/workflows/tests_suite.yml
  .github/workflows/tests_suite_develop.yml
  bin/install.sh
  docs/reference/engine-target.md
  docs/reference/index.md
  docs/reference/opendr-ros-bridge.md
  docs/reference/ros2bridge.md
  docs/reference/speech-transcription-vosk.md
  docs/reference/speech-transcription-whisper.md
  projects/opendr_ws/README.md
  projects/opendr_ws/src/opendr_bridge/msg/OpenDRTranscription.msg
  projects/opendr_ws/src/opendr_bridge/src/opendr_bridge/bridge.py
  projects/opendr_ws/src/opendr_perception/README.md
  projects/opendr_ws/src/opendr_perception/scripts/speech_transcription_node.py
  projects/opendr_ws_2/README.md
  projects/opendr_ws_2/src/opendr_bridge/opendr_bridge/bridge.py
  projects/opendr_ws_2/src/opendr_interface/CMakeLists.txt
  projects/opendr_ws_2/src/opendr_interface/msg/OpenDRTranscription.msg
  projects/opendr_ws_2/src/opendr_perception/README.md
  projects/opendr_ws_2/src/opendr_perception/opendr_perception/speech_transcription_node.py
  projects/opendr_ws_2/src/opendr_perception/setup.py
  projects/python/perception/speech_transcription/README.md
  projects/python/perception/speech_transcription/demo.py
  projects/python/perception/speech_transcription/demo_live.py
  projects/python/perception/speech_transcription/eval.py
  projects/python/perception/speech_transcription/example1.wav
  projects/python/perception/speech_transcription/example2.wav
  src/opendr/engine/target.py
  src/opendr/perception/speech_transcription/__init__.py
  src/opendr/perception/speech_transcription/vosk/README.md
  src/opendr/perception/speech_transcription/vosk/__init__.py
  src/opendr/perception/speech_transcription/vosk/dependencies.ini
  src/opendr/perception/speech_transcription/vosk/vosk_learner.py
  src/opendr/perception/speech_transcription/whisper/README.md
  src/opendr/perception/speech_transcription/whisper/__init__.py
  src/opendr/perception/speech_transcription/whisper/dependencies.ini
  src/opendr/perception/speech_transcription/whisper/whisper_learner.py
  tests/sources/tools/perception/speech_transcription/__init__.py
  tests/sources/tools/perception/speech_transcription/vosk/__init__.py
  tests/sources/tools/perception/speech_transcription/vosk/test_vosk.py
  tests/sources/tools/perception/speech_transcription/whisper/test_whisper.py
Labels: test sources, test tools

#418 Docker test release
  dependencies/dependencies.ini
  dependencies/download_torch.py
  dependencies/install_onnx.sh
  projects/c_api/Makefile
Labels: test sources, test release
