Repository opendr-eu/opendr, pull requests merged in 2023-12, with the labels that each got.

#492 YoloV8 Semantic Segmentation ROS1/2 nodes
  docs/reference/index.md
  docs/reference/yolov8-seg.md
  projects/opendr_ws/README.md
  projects/opendr_ws/src/opendr_perception/CMakeLists.txt
  projects/opendr_ws/src/opendr_perception/README.md
  projects/opendr_ws/src/opendr_perception/scripts/semantic_segmentation_yolov8_node.py
  projects/opendr_ws_2/README.md
  projects/opendr_ws_2/src/opendr_perception/README.md
  projects/opendr_ws_2/src/opendr_perception/opendr_perception/semantic_segmentation_yolov8_node.py
  projects/opendr_ws_2/src/opendr_perception/setup.py
Labels: documentation, enhancement, test sources

#486 Prepare v3.0.0 Release
  .github/workflows/test_packages.yml
  .github/workflows/tests_suite.yml
  .github/workflows/tests_suite_develop.yml
  CHANGELOG.md
  docs/reference/index.md
  docs/reference/installation.md
  packages.txt
  projects/opendr_ws/src/opendr_bridge/package.xml
  projects/opendr_ws/src/opendr_data_generation/package.xml
  projects/opendr_ws/src/opendr_perception/package.xml
  projects/opendr_ws/src/opendr_planning/package.xml
  projects/opendr_ws/src/opendr_simulation/package.xml
  projects/opendr_ws_2/src/opendr_bridge/package.xml
  projects/opendr_ws_2/src/opendr_bridge/setup.py
  projects/opendr_ws_2/src/opendr_data_generation/package.xml
  projects/opendr_ws_2/src/opendr_data_generation/setup.py
  projects/opendr_ws_2/src/opendr_interface/package.xml
  projects/opendr_ws_2/src/opendr_perception/package.xml
  projects/opendr_ws_2/src/opendr_perception/setup.py
  projects/opendr_ws_2/src/opendr_planning/package.xml
  projects/opendr_ws_2/src/opendr_planning/setup.py
  projects/opendr_ws_2/src/opendr_simulation/package.xml
  projects/opendr_ws_2/src/opendr_simulation/setup.py
  projects/python/perception/slam/full_map_posterior_gmapping/src/fmp_slam_eval/package.xml
  projects/python/perception/slam/full_map_posterior_gmapping/src/map_simulator/package.xml
  src/opendr/_version.py
  src/opendr/engine/dependencies.ini
  src/opendr/perception/binary_high_resolution/dependencies.ini
  src/opendr/perception/face_recognition/dependencies.ini
  src/opendr/perception/gesture_recognition/__init__.py
  src/opendr/perception/gesture_recognition/algorithm/__init__.py
  src/opendr/perception/gesture_recognition/algorithm/config/__init__.py
  src/opendr/perception/gesture_recognition/algorithm/data/__init__.py
  src/opendr/perception/gesture_recognition/dependencies.ini
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/__init__.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/methods/MULT/__init__.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/tools/__init__.py
  src/opendr/perception/object_detection_2d/detr/dependencies.ini
  src/opendr/perception/object_detection_2d/gem/dependencies.ini
  src/opendr/perception/object_detection_3d/voxel_object_detection_3d/dependencies.ini
  src/opendr/perception/object_tracking_2d/dependencies.ini
  src/opendr/perception/object_tracking_3d/single_object_tracking/vpit/dependencies.ini
  src/opendr/perception/pose_estimation/dependencies.ini
  src/opendr/simulation/human_model_generation/dependencies.ini
Labels: test sources, test tools, test release

#495 Synchronize `master` and `develop`
  .github/workflows/test_packages.yml
  .github/workflows/tests_suite.yml
  .github/workflows/tests_suite_develop.yml
  CHANGELOG.md
  Dockerfile
  Dockerfile-cuda
  Dockerfile-embedded
  docs/reference/index.md
  docs/reference/installation.md
  packages.txt
  projects/opendr_ws/src/opendr_bridge/package.xml
  projects/opendr_ws/src/opendr_data_generation/package.xml
  projects/opendr_ws/src/opendr_perception/package.xml
  projects/opendr_ws/src/opendr_planning/package.xml
  projects/opendr_ws/src/opendr_simulation/package.xml
  projects/opendr_ws_2/src/opendr_bridge/package.xml
  projects/opendr_ws_2/src/opendr_bridge/setup.py
  projects/opendr_ws_2/src/opendr_data_generation/package.xml
  projects/opendr_ws_2/src/opendr_data_generation/setup.py
  projects/opendr_ws_2/src/opendr_interface/package.xml
  projects/opendr_ws_2/src/opendr_perception/package.xml
  projects/opendr_ws_2/src/opendr_perception/setup.py
  projects/opendr_ws_2/src/opendr_planning/package.xml
  projects/opendr_ws_2/src/opendr_planning/setup.py
  projects/opendr_ws_2/src/opendr_simulation/package.xml
  projects/opendr_ws_2/src/opendr_simulation/setup.py
  projects/python/perception/slam/full_map_posterior_gmapping/src/fmp_slam_eval/package.xml
  projects/python/perception/slam/full_map_posterior_gmapping/src/map_simulator/package.xml
  src/opendr/_version.py
  src/opendr/engine/dependencies.ini
  src/opendr/perception/binary_high_resolution/dependencies.ini
  src/opendr/perception/face_recognition/dependencies.ini
  src/opendr/perception/gesture_recognition/__init__.py
  src/opendr/perception/gesture_recognition/algorithm/__init__.py
  src/opendr/perception/gesture_recognition/algorithm/config/__init__.py
  src/opendr/perception/gesture_recognition/algorithm/data/__init__.py
  src/opendr/perception/gesture_recognition/dependencies.ini
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/__init__.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/methods/MULT/__init__.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/tools/__init__.py
  src/opendr/perception/object_detection_2d/detr/dependencies.ini
  src/opendr/perception/object_detection_2d/gem/dependencies.ini
  src/opendr/perception/object_detection_3d/voxel_object_detection_3d/dependencies.ini
  src/opendr/perception/object_tracking_2d/dependencies.ini
  src/opendr/perception/object_tracking_3d/single_object_tracking/vpit/dependencies.ini
  src/opendr/perception/pose_estimation/dependencies.ini
  src/opendr/simulation/human_model_generation/dependencies.ini
Labels: test sources, test tools

#498 Agricultural example
  dependencies/download_torch.py
  dependencies/install_torch_c_api.sh
  docs/reference/object-detection-2d-nanodet.md
  projects/c_api/samples/object_detection_2d/nanodet/nanodet_jit_webcam_demo.cpp
  projects/python/perception/object_detection_2d/nanodet/README.md
  projects/python/perception/object_detection_2d/nanodet/agricultural_demo.py
  src/opendr/perception/object_detection_2d/nanodet/nanodet_learner.py
Labels: test sources, test tools
