Repository opendr-eu/opendr, pull requests merged in 2023-09, with the labels that each got.

#442 FSeq2-NMS
  docs/reference/object-detection-2d-nms-fseq2_nms.md
  docs/reference/object-detection-2d-nms-seq2seq_nms.md
  projects/python/perception/object_detection_2d/nms/fseq2_nms/README.md
  projects/python/perception/object_detection_2d/nms/fseq2_nms/eval_demo.py
  projects/python/perception/object_detection_2d/nms/fseq2_nms/inference_demo.py
  projects/python/perception/object_detection_2d/nms/fseq2_nms/train_demo.py
  projects/python/perception/object_detection_2d/nms/seq2seq-nms/README.md
  projects/python/perception/object_detection_2d/nms/seq2seq-nms/eval_demo.py
  projects/python/perception/object_detection_2d/nms/seq2seq_nms/README.md
  projects/python/perception/object_detection_2d/nms/seq2seq_nms/eval_demo.py
  projects/python/perception/object_detection_2d/nms/seq2seq_nms/inference_demo.py
  projects/python/perception/object_detection_2d/nms/seq2seq_nms/train_demo.py
  src/opendr/perception/object_detection_2d/__init__.py
  src/opendr/perception/object_detection_2d/nms/cluster_nms/cluster_nms.py
  src/opendr/perception/object_detection_2d/nms/fast_nms/fast_nms.py
  src/opendr/perception/object_detection_2d/nms/fseq2_nms/README.md
  src/opendr/perception/object_detection_2d/nms/fseq2_nms/__init__.py
  src/opendr/perception/object_detection_2d/nms/fseq2_nms/algorithm/__init__.py
  src/opendr/perception/object_detection_2d/nms/fseq2_nms/algorithm/fseq2_model.py
  src/opendr/perception/object_detection_2d/nms/fseq2_nms/fseq2_nms_learner.py
  src/opendr/perception/object_detection_2d/nms/seq2seq_nms/README.md
  src/opendr/perception/object_detection_2d/nms/soft_nms/soft_nms.py
  src/opendr/perception/object_detection_2d/nms/utils/nms_dataset.py
  src/opendr/perception/object_detection_2d/ssd/ssd_learner.py
  tests/sources/tools/perception/object_detection_2d/nms/fseq2_nms/__init__.py
  tests/sources/tools/perception/object_detection_2d/nms/fseq2_nms/test_fseq2_nms.py
  tests/sources/tools/perception/object_detection_2d/nms/seq2seq_nms/test_seq2seq_nms.py
Labels: enhancement, test sources, test tools

#465 Fix ROS1 nodes argparse issue with .launch files
  projects/opendr_ws/src/opendr_perception/scripts/audiovisual_emotion_recognition_node.py
  projects/opendr_ws/src/opendr_perception/scripts/binary_high_resolution_node.py
  projects/opendr_ws/src/opendr_perception/scripts/continual_skeleton_based_action_recognition_node.py
  projects/opendr_ws/src/opendr_perception/scripts/continual_slam_dataset_node.py
  projects/opendr_ws/src/opendr_perception/scripts/continual_slam_learner_node.py
  projects/opendr_ws/src/opendr_perception/scripts/continual_slam_predictor_node.py
  projects/opendr_ws/src/opendr_perception/scripts/face_detection_retinaface_node.py
  projects/opendr_ws/src/opendr_perception/scripts/face_recognition_node.py
  projects/opendr_ws/src/opendr_perception/scripts/facial_emotion_estimation_node.py
  projects/opendr_ws/src/opendr_perception/scripts/fall_detection_node.py
  projects/opendr_ws/src/opendr_perception/scripts/gesture_recognition_node.py
  projects/opendr_ws/src/opendr_perception/scripts/heart_anomaly_detection_node.py
  projects/opendr_ws/src/opendr_perception/scripts/hr_pose_estimation_node.py
  projects/opendr_ws/src/opendr_perception/scripts/image_dataset_node.py
  projects/opendr_ws/src/opendr_perception/scripts/landmark_based_facial_expression_recognition_node.py
  projects/opendr_ws/src/opendr_perception/scripts/object_detection_2d_centernet_node.py
  projects/opendr_ws/src/opendr_perception/scripts/object_detection_2d_detr_node.py
  projects/opendr_ws/src/opendr_perception/scripts/object_detection_2d_gem_node.py
  projects/opendr_ws/src/opendr_perception/scripts/object_detection_2d_nanodet_node.py
  projects/opendr_ws/src/opendr_perception/scripts/object_detection_2d_ssd_node.py
  projects/opendr_ws/src/opendr_perception/scripts/object_detection_2d_yolov3_node.py
  projects/opendr_ws/src/opendr_perception/scripts/object_detection_2d_yolov5_node.py
  projects/opendr_ws/src/opendr_perception/scripts/object_detection_3d_voxel_node.py
  projects/opendr_ws/src/opendr_perception/scripts/object_tracking_2d_deep_sort_node.py
  projects/opendr_ws/src/opendr_perception/scripts/object_tracking_2d_fair_mot_node.py
  projects/opendr_ws/src/opendr_perception/scripts/object_tracking_2d_siamrpn_node.py
  projects/opendr_ws/src/opendr_perception/scripts/object_tracking_3d_ab3dmot_node.py
  projects/opendr_ws/src/opendr_perception/scripts/panoptic_segmentation_efficient_lps_node.py
  projects/opendr_ws/src/opendr_perception/scripts/panoptic_segmentation_efficient_ps_node.py
  projects/opendr_ws/src/opendr_perception/scripts/performance_node.py
  projects/opendr_ws/src/opendr_perception/scripts/point_cloud_2_publisher_node.py
  projects/opendr_ws/src/opendr_perception/scripts/point_cloud_dataset_node.py
  projects/opendr_ws/src/opendr_perception/scripts/pose_estimation_node.py
  projects/opendr_ws/src/opendr_perception/scripts/rgbd_hand_gesture_recognition_node.py
  projects/opendr_ws/src/opendr_perception/scripts/semantic_segmentation_bisenet_node.py
  projects/opendr_ws/src/opendr_perception/scripts/skeleton_based_action_recognition_node.py
  projects/opendr_ws/src/opendr_perception/scripts/speech_command_recognition_node.py
  projects/opendr_ws/src/opendr_perception/scripts/speech_transcription_node.py
  projects/opendr_ws/src/opendr_perception/scripts/video_activity_recognition_node.py
  projects/opendr_ws/src/opendr_perception/scripts/wave_detection_node.py
Labels: bug, test sources

#443 Intent recognition tool
  docs/reference/index.md
  docs/reference/intent-recognition-learner.md
  projects/opendr_ws/README.md
  projects/opendr_ws/src/opendr_perception/CMakeLists.txt
  projects/opendr_ws/src/opendr_perception/README.md
  projects/opendr_ws/src/opendr_perception/package.xml
  projects/opendr_ws/src/opendr_perception/scripts/intent_recognition_node.py
  projects/opendr_ws_2/README.md
  projects/opendr_ws_2/src/opendr_perception/README.md
  projects/opendr_ws_2/src/opendr_perception/opendr_perception/intent_recognition_node.py
  projects/opendr_ws_2/src/opendr_perception/setup.py
  projects/python/perception/multimodal_human_centric/intent_recognition/README.MD
  projects/python/perception/multimodal_human_centric/intent_recognition/demo_speech.py
  projects/python/perception/multimodal_human_centric/intent_recognition/demo_text.py
  src/opendr/perception/multimodal_human_centric/__init__.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/__init__.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/backbones/FusionNets/MULT.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/backbones/FusionNets/__init__.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/backbones/SubNets/FeatureNets.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/backbones/SubNets/__init__.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/backbones/SubNets/transformers_encoder/__init__.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/backbones/SubNets/transformers_encoder/multihead_attention.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/backbones/SubNets/transformers_encoder/position_embedding.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/backbones/SubNets/transformers_encoder/transformer.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/backbones/__init__.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/backbones/base.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/configs/__init__.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/configs/base.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/configs/mult_bert.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/data/__init__.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/data/audio_pre.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/data/mm_pre.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/data/text_pre.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/data/video_pre.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/methods/MULT/manager.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/methods/__init__.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/tools/audio_preprocess.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/tools/video_preprocess.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/utils/__init__.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/utils/functions.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/algorithm/utils/metrics.py
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/dependencies.ini
  src/opendr/perception/multimodal_human_centric/intent_recognition_learner/intent_recognition_learner.py
  tests/sources/tools/perception/multimodal_human_centric/intent_recognition/__init__.py
  tests/sources/tools/perception/multimodal_human_centric/intent_recognition/test_intent_recognition.py
  tests/test_license.py
Labels: test sources, test tools

#456 Test-tools improvement
  .github/workflows/tests_suite.yml
  .github/workflows/tests_suite_develop.yml
Labels: test sources, test tools

#466 Minor fix on yolov5 webcam demo
  projects/python/perception/object_detection_2d/yolov5/webcam_demo.py
Labels: bug, test sources, test tools

#463 GPU installation fix
  .github/workflows/tests_suite.yml
  .github/workflows/tests_suite_develop.yml
  bin/install.sh
  src/opendr/control/single_demo_grasp/Makefile
  src/opendr/control/single_demo_grasp/dependencies.ini
  src/opendr/utils/hyperparameter_tuner/dependencies.ini
Labels: bug, test sources, test tools
